.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;

  }
  
  .avatar-container {
    padding-bottom: 20px;
  }
  
  .avatar {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .avatar {
    width: 100px;
    height: 100px; 
    border-radius: 50%; 
    
  }  
  .heading{
    text-align: center !important;
    padding-top: 5%;
    padding-bottom: 0% !important;

  }

body{
  background-color: rgb(228, 219, 219) !important;
}